 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="dna-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        I am a 4th year GW4BioMed PhD 
                        candidate at the MRC Integrative Epidemiology Unit, University of Bristol.
                    </p>
                    <p>
                        My project is focused on the relationship between 
                        blood cell traits (BCTs) and disease. These BCTs are commonly
                        measured in a routine blood test e.g. eosinophil count or 
                        mean haemoglobin levels.
                    </p>
                    <p>
                        I use R, Python and statistics to combine methods in 
                        genetics and data science that 
                        allow me to conduct cutting-edge research. <i class="far fa-smile"></i>
                    </p>
                </div>
                <div class="col-lg-4">
                    <!--<p>My supervisors are <a href="https://research-information.bris.ac.uk/en/persons/emma-e-vincent">Dr Emma Vincent</a>,
                        <a href="https://research-information.bris.ac.uk/en/persons/nicholas-john-timpson">Prof Nicholas Timpson</a>
                    </p> -->
                    <p>
                        I am currently based in Bristol, a great city to do a PhD in. 
                        It has a vibrant and diverse community, with many interesting and unique 
                        places to visit.
                    </p>
                    <p>
                        This is a personal website where I share some of 
                        the projects I have worked on during my trip to the outer 
                        boundaries of what is known in science.
                    </p>
                    <p>
                        I am currently undertaking a 6-month Post-doc at 
                        the University of Oxford's <a href="https://www.bdi.ox.ac.uk/7">Big Data Institute</a>. 
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://teamtimpson.github.io/" class="btn btn-lg btn-outline-secondary">
                        <i class="fas fa-external-link-alt"></i> My team's website
                    </a>
                </div>
            </div>
        </div>
    </section>
