 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="dna-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        I am a 2nd year GW4 BioMed PhD 
                        candidate at the University of Bristol.
                    </p>
                    <p>
                        My project is focused on the relationship between 
                        immune cell counts, type 2 diabetes, 
                        and colorectal cancer.
                    </p>
                    <p>
                        I use R, Python, and occasionally 
                        C++ to combine methods in 
                        epidemiology and data science that 
                        allow me to present 
                        many interesting results. <i class="far fa-smile"></i>
                    </p>

                </div>
                <div class="col-lg-4">
                    <!--<p>My supervisors are <a href="https://research-information.bris.ac.uk/en/persons/emma-e-vincent">Dr Emma Vincent</a>,
                        <a href="https://research-information.bris.ac.uk/en/persons/nicholas-john-timpson">Prof Nicholas Timpson</a>,
                        <a href="https://research-information.bris.ac.uk/en/persons/caroline-j-bull">Dr Caroline Bull</a> and
                        <a href="https://research-information.bris.ac.uk/en/persons/benjamin-l-elsworth">Dr Ben Elsworth</a>.
                    </p> -->
                    <p>
                        Bristol is a great city to do a PhD in. 
                        It has a vibrant and diverse community, with many interesting and unique 
                        places to visit.
                    </p>
                    <p>
                        This is a personal website where I will share some of 
                        the projects I am working on during my trip to the outer 
                        boundaries of what is known in science.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://teamtimpson.github.io/" class="btn btn-lg btn-outline-secondary">
                        <i class="fas fa-external-link-alt"></i> My team's website
                    </a>
                </div>
            </div>
        </div>
    </section>
